* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --sun: #f2d024;
  --mercury: violet;
  --venus: red;
  --earth: aqua;
  --mars: red;
  --jupiter: pink;
  --saturn: orange;
  --uranus: blue;
  --neptune: green;
}
